# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Environment files
env/
venv/
ENV/
.venv/

# IDE and editor folders
.vscode/
.idea/

# Logs
logs/
*.log

# Database files
db/

# Rainbow table files
*.json

# OS-specific files
.DS_Store
Thumbs.db

# Windows-specific
*.bak
*.swp
